.ant-table-summary {
  display: table-header-group;
  }
 
  .cell_text{
    position: relative;
    /* background-color: #ccc; */
    background-size:10% 10%;
  }

  .cell_text .cell_bg{
    position: absolute;
    height: 20px;
    background-color: #D4E7F4;
  }

  .cell_text .cell_name{
    clear: both;
    display: block;
    transform: translateZ(1px);
  }